
@{
    ViewBag.Title = "Footer";
}
<div class="footer">
    <div class="top">
        <div class="h-col-1">
            <div class="footer-title">MÔ TẢ</div>
            <div class="line-height">Miễn phí tính năng book phòng trực tuyến, du khách thanh toán trực tiếp trên website. Nhận thiết kế website đơn/đa khách sạn theo mẫu hoặc theo yêu cầu phù hợp đẳng cấp Hotel. Cấu trúc web chuẩn seo. Setup thanhtoán trựctuyến. Tùy biến web linh hoạt. Hỗ trợ và bảo trì 24/7. Miễn phí Bookphòng online.</div>
        </div>
        <div class="h-col-2">
            <div class="footer-title">LIÊN HỆ</div>
            <div class="h-row  h-location">
                <div class="h-icon"></div>
                <div class="h-text">Học Viện KTQS - 136 HQV</div>
            </div>
            <div class="h-row h-email">
                <div class="h-icon"></div>
                <div class="h-text">hien.van.nguyen0408@gmail.com</div>
            </div>
            <div class="h-row h-phonenumber">
                <div class="h-icon"></div>
                <div class="h-text">0123456789</div>
            </div>
        </div>
        <div class="h-col-3 line-height">
            <div class="footer-title">FOLLOW US</div>
            <div><a class="a" href="https://www.facebook.com/hien.van.nguyen0408.mta17/">Nguyễn Văn Hiến</a></div>
            <div><a class="a" href="https://www.facebook.com/long.kieu.771">Kiều Đức Long</a></div>
            <div><a class="a" href="https://www.facebook.com/trantrungthiep">Trần Trung Thiệp</a></div>
            <div><a class="a" href="https://www.facebook.com/profile.php?id=100009684824073">Đỗ Thành Đạt</a></div>

        </div>
    </div>
    <div class="bottom">
        Book-Hotel HIẾN - LONG - THIỆP - ĐẠT
    </div>
</div>

